@use "../../shared/scss/mixins" as *;
@use "../../shared/scss/variables" as *;

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;

  &__link {
    text-decoration: none;
    text-align: center;
    display: flex;
    align-items: center;
    img {
      width: 40px;
      height: 40px;
    }
  }

  &__title {
    font-size: 1.5rem;
    line-height: normal;
    color: #fff;
    font-weight: bold;
    margin-bottom: 0;
  }
}
