<ng-container *ngFor="let row of board.getCells()">
  <app-cell *ngFor="let cell of row" class="cell" [class]="cell.color" [ngClass]="{
    'selected' : cell.x === this.getActiveCell()?.x && cell.y === this.getActiveCell()?.y,
    'under-attack' : !cell.isEmpty() && cell.isAvailable(),
    'check': isKingInCheck(cell),
    'hinted' : cell.isEmpty() && cell.isAvailable()}" [cell]="cell" (click)="handleMove(cell)" (dragStarted)="dragStarted(cell)"
    (dragEnded)="dragEnded($event)">
  </app-cell>
</ng-container>
<div class="row-numbers">
  <span>8</span>
  <span>7</span>
  <span>6</span>
  <span>5</span>
  <span>4</span>
  <span>3</span>
  <span>2</span>
  <span>1</span>
</div>
<div class="col-letters">
  <span>a</span>
  <span>b</span>
  <span>c</span>
  <span>d</span>
  <span>e</span>
  <span>f</span>
  <span>g</span>
  <span>h</span>
</div>