@use "./app/shared/scss/mixins" as *;
@use "./app/shared/scss/variables" as *;

html,
body {
  height: 100%;
  user-select: none;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.full-width {
  width: 100%;
}

.board {
  width: calc(64px * 8);
  height: calc(64px * 8);
  display: flex;
  flex-wrap: wrap;
  transition: all 0.5s ease-in-out;
}

.cell {
  width: 64px;
  height: 64px;
  @include flex-center;
  img {
    width: 100%;
    height: 100%;
  }
}

.black {
  background-color: $board-black;
}

.white {
  background-color: $board-white;
}
