@use "./app/shared/scss/mixins" as *;
@use "./app/shared/scss/variables" as *;

html,
body {
  height: 100%;
  user-select: none;
  background-image: url("./assets/images/main-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.full-width {
  width: 100%;
}

.board {
  position: relative;
  width: calc(64px * 8);
  height: calc(64px * 8);
  display: flex;
  flex-wrap: wrap;
  transition: transform 0.8s ease-in-out;
  border: 5px solid #fff;
  &.rotated {
    transform: rotate(180deg);
    .cell {
      transform: rotate(180deg);
    }

    .row-numbers {
      flex-flow: column-reverse;
      left: unset;
      right: -30px;
      transform: rotate(180deg);
      animation-name: show;
      animation-duration: 2s;
    }

    .col-letters {
      flex-flow: row-reverse;
      bottom: unset;
      top: -30px;
      transform: rotate(180deg);
    }
  }
}

.cell {
  width: 64px;
  height: 64px;
  @include flex-center;
  &.selected {
    background-color: $cell-active;
  }
  &.under-attack {
    background-color: $cell-attack;
  }
  &.check {
    background-color: $check;
  }
  &.hinted {
    cursor: pointer;
  }
  img {
    width: 80%;
    height: 80%;
    cursor: grab;
  }
}

.hint {
  width: 30%;
  height: 30%;
  border-radius: 50%;
  opacity: 0.5;
  background-color: $primary;
}

.black {
  background-color: $board-black;
}

.white {
  background-color: $board-white;
}
